<?xml version="1.0"?>
<launch>
  <node name="urg_node" pkg="urg_node" type="urg_node">
    <param name="ip_address" value="192.168.0.10" />
  </node>
  <node name="robot_logger" pkg="fun_run_laundry" type="robot_logger"/>

  <!-- rviz -->
  <arg name="rvizconfig" default="$(find fun_run_laundry)/config/default.rviz"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true"/>
</launch>
