<?xml version="1.0"?>
<launch>
    <!--<machine name="ubuntu" address="ubuntu" env-loader="/home/ubuntu/robocon_2019b/mr/devel/env.sh" user="ubuntu" password="ubuntu"/>-->
    <machine name="ubuntu" address="172.20.10.12" env-loader="/home/ubuntu/robocon_2019b/mr/devel/env.sh" user="ubuntu" password="ubuntu"/>
    <node machine="ubuntu" name="motor_serial" pkg="motor_serial" type="motor_serial"/>
    <node machine="ubuntu" name="expansion" pkg="robot_expansion" type="expansion"/>
    <node name="omuni" pkg="three_omuni" type="omuni"/>
    <node machine="ubuntu" name="gyro" pkg="robot_sensor" type="gyro"/>
    <node name="calibration" pkg="robot_calibration" type="calibration"/>
    <node name="laundry_basket" pkg="laundry_basket" type="laundry_basket"/>
    <node name="obon" pkg="obon_set" type="obon" output="screen"/>
    <node name="arm_position" pkg="robot_arm" type="arm_position"/>
    <node name="arm_angle" pkg="robot_arm" type="arm_angle"/>
    <node name="controller" pkg="rc2019_commander" type="controller"/>
    <node name="joy_node" pkg="joy" type="joy_node"/>
</launch>
